@model FSWDFinalProject.Data.EF.Reservation

@{
    ViewBag.Title = "Edit";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KwitaraCars - Bootstrap Cars Dealer Template </title>

    <!-- Styles -->
    <link rel="stylesheet" href="../Content/css/bootstrap.min.css" type="text/css" /><!-- Bootstrap -->
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css" type="text/css" /><!-- Icons -->
    <link rel="stylesheet" href="../fonts/themify-icons/themify-icons.css" type="text/css" /><!-- Icons -->
    <link rel="stylesheet" href="../Content/css/owl.carousel.css" type="text/css" /><!-- Owl Carousal-->
    <link rel="stylesheet" href="../Content/css/price-range.css" type="text/css" /><!-- Owl Carousal -->

    <link rel="stylesheet" href="../Content/css/style.css" type="text/css" /><!-- Style -->
    <link rel="stylesheet" href="../Content/css/responsive.css" type="text/css" /><!-- Responsive -->
    <link rel="stylesheet" href="../Content/css/colors.css" type="text/css" /><!-- color -->
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="../Scripts/js/rs-plugin/css/settings.css">
</head>
<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reservation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ReservationId)

        <div class="form-group">
            @Html.LabelFor(model => model.UserAssetId, "UserAssetId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserAssetId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserAssetId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationId, "LocationId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocationId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReservationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReservationDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReservationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript" src="../Scripts/js/modernizr.js"></script><!-- Modernizer -->
<script type="text/javascript" src="../Scripts/js/jquery-1.10.2.min.js"></script><!-- Jquery -->
<script type="text/javascript" src="../Scripts/js/bootstrap.min.js"></script><!-- Bootstrap -->
<script type="text/javascript" src="../Scripts/js/owl.carousel.min.js"></script><!-- Owl Carousal -->
<script type="text/javascript" src="../Scripts/js/html5lightbox.js"></script><!-- HTML -->
<script type="text/javascript" src="../Scripts/js/scrolly.js"></script><!-- Parallax -->
<script type="text/javascript" src="../Scripts/js/price-range.js"></script><!-- Parallax -->
<script type="text/javascript" src="../Scripts/js/script.js"></script><!-- Script -->

<script src="../Scripts/js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="../Scripts/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>