@model IEnumerable<FSWDFinalProject.Data.EF.Reservation>

@{
    ViewBag.Title = "Index";
}
<clear></clear>

<br />
<br />
<br />
<br />

<h2 class="center">Reservations</h2>

<p class="createBtn class=" center"">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAsset.AssetName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAsset.AssetName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ReservationId }) |
                @if (User.IsInRole("Admin") || (User.IsInRole("Franchise")))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReservationId }) <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReservationId })
                }

            </td>
        </tr>
    }
</table>
<br />
<br />
<br />
